<div class="row row-content align-items-center d-flex justify-content-center pb-5">
    <div class="col-12 col-lg-4">
        <img src="images/open.jpg" class="img-fluid" alt="Open shop">
    </div>
    <div class="col-12 col-lg-7">
        <h2 class="mt-3 mt-lg-0 mb-3 ml-lg-5">@StringResources.ShopOpeningHours</h2>
        <ul class="ml-lg-5 hours-list">
            <li class="mb-2">Monday-Wednesday-Friday 9:00am to 5:30pm</li>
            <li class="mb-2">Tuesday-Thursday 9:00am to 8:00pm</li>
            <li class="mb-2">Saturday 9:00am to 4:00pm</li>
            <li class="mb-2">Closed on Sunday and Bank Holidays</li>
        </ul>
    </div>
</div>

@code {

}
