<div class="col-12 col-md-5 col-lg-3 mb-3">
    <h5>Our Address</h5>
    <address>
        Prins Hendrikkade 75<br>
        1012 AE, Amsterdam<br>
        Netherlands<br>
        <i class="fa fa-phone fa-lg"></i>: +31-655-5105-15 <br>
        <i class="fa fa-fax fa-lg"></i>: +31-655-5323-10 <br>
        <i class="fa fa-envelope fa-lg"></i>: <a href="mailto: thebikesupplier@nomail.net">
            thebikesupplier@nomail.net
        </a>
    </address>
</div>
