<footer class="jumbotron">
    <div class="container">
        <div class="row">
            <Links FooterLinks="SiteLinks.MenuLinks" Title="@StringResources.Links" />
            <Links FooterLinks="SiteLinks.AccountLinks" Title="@StringResources.MyAccount" />
            <Address />
            <SocialMedia />
        </div>
        <div class="row justify-content-center">
            <div class="col-auto">
                <p><i class="fa-brands fa-creative-commons"></i> The Bike Supplier - Eva Paradeisi</p>
            </div>
        </div>
    </div>
</footer>