<div class="col-12 col-md-12 col-lg-4 mb-3">
    <div class="row justify-content-center">
        <div class="col-12 text-center text-lg-left ml-3">
            <h5>Follow Us</h5>
        </div>
        <div class="col-12 text-center text-lg-left">
            <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+">
                <i class="fa-brands fa-google-plus-g"></i>
            </a>
            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id=">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/">
                <i class="fa-brands fa-twitter"></i>
            </a>
            <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a class="btn btn-social-icon" href="mailto:">
                <i class="fa-regular fa-envelope"></i>
            </a>
        </div>
    </div>
</div>
